<article class="listing">
  <a class="image">
    <img src="{{user.avatar}}" class="image" alt="">
  </a>
  <h3>{{user.firstName}} {{user.lastName}}</h3>
  <div class="detail owner">
    <span>Email:</span> {{user.email}}
  </div>
</article>
